.section-title {
  justify-self: flex-start;
  text-align: center;
  font-size: 3rem;
  font-family: var(--secondary-text);
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 4.9rem;
  color: var(--secondary-grey);
  margin-top: 1rem;
}

.section-title__underscore {
  background-color: var(--secondary-grey);
  height: 0.1rem;
  width: 7rem;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}
